- spring break dates (february-April)
- summer vacation dates (late May-September)
- Thanksgiving Travel (End of November)
- Christmas to New Years (End of December to Early Janurary)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
twentyone_tow_accidents = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\kristen_r_capstone\\data\\2021_tow_crashes.csv')

In [19]:
twentyone_tow_accidents.head()

,states,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
0,Alabama,19,67,694,320,20,216,58,"1,795",26,0,0,0,0,"3,215"
1,Alaska,0,0,2,1,0,2,1,1,1,0,0,0,0,8
2,Arizona,23,89,154,148,160,517,30,"1,104",68,1,0,1,0,"2,295"
3,Arkansas,8,42,397,135,5,86,50,"1,451",33,0,0,0,0,"2,207"
4,California,15,265,"2,694",562,68,763,386,"4,890",493,1,0,0,5,"10,142"

In [7]:
twentyone_injury_accidents = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\kristen_r_capstone\\data\\2021_injury_crashes.csv')

In [17]:
twentyone_injury_accidents.head()

,Unnamed: 0,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
0,Alabama,15,27,325,187,8,79,42,722,17,0,0,0,0,"1,422"
1,Alaska,0,0,1,0,0,0,1,0,0,0,0,0,0,2
2,Arizona,1,15,28,32,28,115,11,288,9,0,0,0,0,527
3,Arkansas,9,41,196,92,0,32,21,643,13,0,0,0,0,"1,047"
4,California,17,309,"1,541",226,29,380,233,"2,419",252,5,0,0,2,"5,413"

In [9]:
twentyone_fatal_accidents = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\kristen_r_capstone\\data\\2021_fatal_crashes.csv')

In [18]:
twentyone_fatal_accidents.head()

,Unnamed: 0,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
0,Alabama,3,0,31,10,0,1,3,92,0,0,0,0,0,140
1,Alaska,0,0,0,4,0,0,0,1,0,0,0,0,0,5
2,Arizona,3,8,17,6,3,8,0,75,3,0,0,0,0,123
3,Arkansas,0,1,18,6,0,3,1,74,0,0,0,0,0,103
4,California,2,16,141,24,4,37,10,251,34,0,0,0,0,519