- spring break dates (february-April)
- summer vacation dates (late May-September)
- Thanksgiving Travel (End of November)
- Christmas to New Years (End of December to Early Janurary)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
twentytwo_tow_accidents = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\kristen_r_capstone\\data\\2022_tow_crashes.csv')

In [16]:
twentytwo_tow_accidents

,State,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
0,Alabama,11,72,681,252,2,207,58,"1,578",29,0,0,0,0,"2,890"
1,Alaska,0,0,2,0,0,0,2,3,1,0,0,0,0,8
2,Arizona,28,103,165,165,172,473,37,984,49,3,0,3,0,"2,182"
3,Arkansas,5,47,363,113,2,87,18,"1,354",19,0,0,0,0,"2,008"
4,California,23,368,"2,598",510,7,414,284,"4,795",340,2,0,0,2,"9,343"
5,Colorado,7,106,254,184,0,32,39,844,23,0,0,0,0,"1,489"
6,Connecticut,6,128,302,133,50,21,2,527,14,0,0,0,0,"1,183"
7,Delaware,3,24,93,54,0,10,12,184,0,0,0,0,0,380
8,Dist. Of Columbia,4,23,30,7,2,3,9,0,0,0,0,0,1,79
9,Florida,78,497,"1,343",960,0,194,182,"2,883",36,0,0,0,1,"6,174"
10,Georgia,25,227,860,456,24,165,145,"2,483",45,0,0,0,0,"4,430"
11,Hawaii,4,15,32,12,0,3,1,11,0,1,0,0,0,79
12,Idaho,3,18,62,39,0,26,3,212,32,3,0,0,0,398
13,Illinois,24,284,"1,248",652,88,71,155,"2,599",30,1,0,0,1,"5,153"
14,Indiana,22,176,683,418,4,83,170,"2,748",55,5,0,0,0,"4,364"
15,Iowa,2,55,264,142,1,16,18,958,19,0,0,0,1,"1,476"
16,Kansas,13,49,181,106,8,81,21,824,20,1,0,0,0,"1,304"
17,Kentucky,22,79,334,233,30,213,26,"1,150",27,0,0,0,0,"2,114"
18,Louisiana,5,94,295,153,78,141,142,941,15,0,0,0,12,"1,876"
19,Maine,5,27,141,103,0,11,1,145,1,0,0,0,0,434
20,Maryland,69,189,818,913,19,7,0,528,0,0,0,0,0,"2,543"
21,Massachusetts,33,157,475,180,2,44,19,575,9,0,0,0,0,"1,494"
22,Michigan,46,243,"1,290",422,71,230,68,"2,052",110,0,0,0,0,"4,532"
23,Minnesota,40,146,365,126,18,116,30,862,19,0,0,0,6,"1,728"
24,Mississippi,11,35,121,91,1,150,142,562,17,1,0,0,0,"1,131"
25,Missouri,57,113,883,315,101,149,70,"2,247",56,6,0,0,0,"3,997"
26,Montana,0,10,77,39,6,203,7,206,23,2,0,0,0,573
27,Nebraska,1,9,33,37,4,74,5,233,3,0,0,0,0,399
28,Nevada,3,3,33,22,2,84,11,208,43,4,0,0,0,413
29,New Hampshire,5,20,108,42,0,8,3,86,4,0,0,0,0,276
30,New Jersey,55,222,850,288,5,49,38,571,6,0,0,0,0,"2,084"
31,New Mexico,1,1,2,0,10,130,2,450,0,0,0,0,0,596
32,New York,20,307,"1,396",513,7,255,8,"1,101",13,1,0,0,0,"3,621"
33,North Carolina,9,292,560,479,52,737,76,"1,210",31,0,0,0,52,"3,498"
34,North Dakota,0,21,29,39,97,0,1,245,16,1,0,0,0,449
35,Ohio,189,155,0,0,133,435,0,"1,795",0,0,0,7,0,"2,714"
36,Oklahoma,7,19,92,53,1,155,19,640,9,1,0,0,0,996
37,Oregon,7,56,206,17,0,79,9,696,97,9,0,0,0,"1,176"
38,Pennsylvania,16,297,885,597,"1,037",397,34,"2,208",27,2,0,0,1,"5,501"
39,Rhode Island,0,7,18,20,5,6,6,31,0,0,0,0,1,94
40,South Carolina,12,53,174,174,78,287,47,895,15,0,0,1,2,"1,738"
41,South Dakota,9,16,30,13,0,14,3,202,9,0,0,0,0,296
42,Tennessee,14,112,565,"1,124",22,34,41,"1,289",46,3,0,0,0,"3,250"
43,Texas,106,453,"1,718",627,121,"2,338",406,"5,863",81,5,0,0,11,"11,729"
44,Utah,1,12,61,32,126,12,26,277,35,2,0,0,0,584
45,Vermont,0,4,12,10,5,36,1,31,1,0,0,0,4,104
46,Virginia,41,203,735,367,4,221,125,"1,964",50,0,0,1,16,"3,727"
47,Washington,5,132,310,214,24,336,25,749,88,0,0,0,0,"1,883"
48,West Virginia,5,34,36,47,7,77,22,456,7,0,0,1,1,693
49,Wisconsin,11,135,301,262,0,54,15,937,15,1,0,0,0,"1,731"
50,Wyoming,2,7,49,35,1,52,15,677,50,0,0,0,0,888

In [12]:
twentytwo_fatal_accidents = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\kristen_r_capstone\\data\\2022_fatal_crashes.csv')

In [29]:
twentytwo_fatal_accidents.head()

,Unnamed: 0,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
0,NaN,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles,# of Vehicles
1,Alabama,0,0,27,14,0,7,4,92,2,0,0,0,0,146
2,Alaska,0,1,0,0,0,1,0,0,0,0,0,0,0,2
3,Arizona,1,4,23,9,4,5,2,90,5,0,0,0,0,143
4,Arkansas,1,2,13,4,0,3,2,81,2,0,0,0,0,108

In [14]:
twentytwo_injury_accidents = pd.read_csv('C:\\Users\\ksree\\Documents\\dda9\\PYTHON\\PROJECTS\\kristen_r_capstone\\data\\2022_injury_crashes.csv')

In [15]:
twentytwo_injury_accidents

,Unnamed: 0,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
0,Alabama,15,50,316,150,0,67,29,767,10,0,0,0,0,"1,404"
1,Alaska,0,0,2,1,0,0,0,1,0,0,0,0,0,4
2,Arizona,3,14,32,23,22,93,5,183,5,1,0,1,0,382
3,Arkansas,7,31,198,68,0,35,24,605,8,0,0,0,0,976
4,California,19,362,"1,341",284,4,193,139,"1,961",164,2,0,0,0,"4,469"
5,Colorado,1,26,90,56,0,8,14,274,6,1,0,0,0,476
6,Connecticut,0,88,124,52,25,3,0,199,2,0,0,0,0,493
7,Delaware,2,41,70,36,2,3,10,87,1,0,0,0,0,252
8,Dist. Of Columbia,21,62,30,6,0,3,6,0,0,0,0,0,1,129
9,Florida,51,489,715,552,0,96,93,"1,593",16,0,0,0,1,"3,606"
10,Georgia,16,165,390,240,27,72,79,"1,218",22,0,0,0,0,"2,229"
11,Hawaii,4,38,26,6,0,4,2,7,0,0,0,0,0,87
12,Idaho,3,12,40,37,0,13,6,176,12,3,0,0,0,302
13,Illinois,34,318,712,367,52,44,93,"1,243",15,0,0,0,2,"2,880"
14,Indiana,8,93,220,182,0,29,57,809,21,0,0,0,0,"1,419"
15,Iowa,3,28,109,88,1,12,7,374,8,0,0,0,0,630
16,Kansas,2,9,53,38,3,21,3,236,7,0,0,0,0,372
17,Kentucky,14,90,157,149,13,77,16,520,11,0,0,0,0,"1,047"
18,Louisiana,12,141,283,179,85,135,105,840,3,0,0,0,6,"1,789"
19,Maine,6,23,103,93,0,12,1,119,1,0,0,0,0,358
20,Maryland,87,174,455,468,12,5,0,230,1,0,0,0,0,"1,432"
21,Massachusetts,34,106,222,82,1,23,9,232,2,0,0,0,0,711
22,Michigan,21,124,348,130,9,59,23,576,46,0,0,0,0,"1,336"
23,Minnesota,17,59,136,70,5,42,9,275,3,0,0,0,0,616
24,Mississippi,13,32,75,94,0,121,79,361,9,1,0,0,0,785
25,Missouri,55,149,423,169,47,47,37,882,22,4,0,0,0,"1,835"
26,Montana,1,6,29,17,2,63,2,55,5,0,0,0,0,180
27,Nebraska,1,6,31,19,3,74,3,125,0,1,0,0,0,263
28,Nevada,7,6,19,21,5,58,8,133,14,6,0,0,0,277
29,New Hampshire,0,4,45,7,0,6,0,35,0,0,0,0,0,97
30,New Jersey,54,230,678,255,0,52,36,407,5,1,1,1,0,"1,720"
31,New Mexico,1,1,1,0,9,42,2,191,0,0,0,0,0,247
32,New York,161,896,"1,500",619,14,385,7,783,12,1,0,0,0,"4,378"
33,North Carolina,2,305,446,441,44,578,71,953,28,0,0,0,64,"2,932"
34,North Dakota,0,7,16,16,29,0,3,86,5,0,0,0,0,162
35,Ohio,96,169,0,0,82,249,0,823,0,0,0,3,0,"1,422"
36,Oklahoma,5,6,52,44,1,81,9,267,3,0,0,0,0,468
37,Oregon,3,27,79,4,0,38,1,279,39,5,0,0,0,475
38,Pennsylvania,16,318,413,327,451,138,29,888,16,0,0,0,2,"2,598"
39,Rhode Island,2,14,21,15,1,3,3,21,0,0,0,0,0,80
40,South Carolina,12,72,150,141,53,152,39,616,14,0,0,0,5,"1,254"
41,South Dakota,0,2,4,5,0,0,0,28,2,0,0,0,0,41
42,Tennessee,3,80,256,552,12,21,17,538,15,0,0,0,0,"1,494"
43,Texas,101,403,"1,520",551,50,"1,299",265,"3,721",52,3,0,0,6,"7,971"
44,Utah,0,12,26,31,95,10,12,135,20,1,0,0,0,342
45,Vermont,0,2,15,8,1,19,1,15,0,0,0,0,2,63
46,Virginia,31,117,386,204,5,76,36,744,21,0,0,0,1,"1,621"
47,Washington,2,51,68,58,2,59,6,127,13,0,0,0,0,386
48,West Virginia,8,35,27,35,7,34,5,189,7,0,0,1,0,348
49,Wisconsin,11,72,107,134,0,20,15,369,7,0,0,0,0,735
50,Wyoming,0,3,11,11,1,11,3,163,8,0,0,0,0,211

In [24]:
missing_nc = twentytwo_injury_accidents.loc[twentytwo_injury_accidents.Missing == 64]

In [25]:
missing_nc

,Unnamed: 0,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
33,North Carolina,2,305,446,441,44,578,71,953,28,0,0,0,64,"2,932"

In [27]:
missing_nc1 = twentytwo_tow_accidents.loc[twentytwo_tow_accidents.Missing == 52]

In [28]:
missing_nc1

,State,"Bus (Seats for 9-15 People, including driver)","Bus (Seats for > 15 People, including driver)","Single Unit Truck, 2 axle, 6 tire","Single Unit Truck, 3+axle","Single Unit Truck, axles unknown",Truck/Trailers,Truck/Tractor (bobtail),Tractor/Semi-trailer,Tractor/Double,Tractor/Triple,"Passenger Car, Only Displays HazMat Placard","Light Truck, Only Display HazMat Placard",Missing,Total
33,North Carolina,9,292,560,479,52,737,76,"1,210",31,0,0,0,52,"3,498"